@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@600&display=swap');

body {
    display: flex;
    flex-direction: column;
}

.left {
    font-family: Pacifico, cursive;
    display:flex;
    align-items: center;
}
#icon {
    border-radius: 50%;
    height: 50px;
    border: 8px solid #FBF8CC;
    box-shadow: 2px 2px 3px grey;
}